.heads{
	position: fixed;
		top: 0;
		left: 0;
		height: 55px;
		width: 100%;
		z-index: 1000;
	}
	.heads img{
		height:100%;
		width: 100%;
	}
	.nava{
		height: 100px;
		width: 100%;
		background: #F8F8F8;
		line-height: 55px;
	}
	.nava .kong{
		height: 50px;
	}
	.nava dl{
		 height: 45%;
		width: 100%;
		text-align: center;
		display: flex;

	}
	.nava dl dt{
		height: 100%;
		width: 33%;
	}
	.nava dl dt img{
    /*height: 15px;
    margin: 5% auto auto  -50%;
		width: 13px;*/
	}
	.nava dl dd{
		height: 100%;
		width: 33%;
		color: #333333;
		font-weight: bolder;
	}
	.nava dl p{
		height: 100%;
		width: 33%;
		text-align: right;
		color: red;
	}
	.nava dl dd img{
		height: 45px;
		width: 45px;
		margin: 10px auto auto 60%;
	}
	.tip{
		height: 30px;
		width: 100%;
		background: #F3E2C2;
		font-size: 5px;
		color: #73716E;
		line-height: 30px;
		text-align: center;
	}